@tailwind base

@tailwind components

// @import 'layout', 'typography', 'components', 'utilities', 'custom'

@import '_layout.scss'
@import '_hero.sass'

.testing
    color red

// @tailwind utilities

@import 'vendor/glidejs/glide.scss'
